[submodule "g3log"]
	path = g3log
	url = https://github.com/KjellKod/g3log.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
